<div class="loginbody">
<div class="homerow">
    <p><a href="#">Home</a></p>
    <p><a href="#">About</a></p>
    <p><a href="#">TheReviews</a></p>
    <p><a href="#">FAQs</a></p>
</div>
    <div class = "login-content">
                <form action="/login" method="post" id="login-form">

                        <p id="login">login</p>

                        <div class="user_input">
                        <input class = "inputuser" type="text" placeholder="Username" name="username" required>
                        </div>

                        <div class="pass_input">
                        <input class = "inputpass" type="password" placeholder="Password" name="password" required>
                        </div>


                        <p> No account? </p> 
                        <a href="#" id = "register"> register</a></p>
                </form> 
    </div>
</div>

